@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark:wght@400;500;600;700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Raleway", sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.color{
    background: black;
    height: 400px;
}
.text-field{
  width: 40%;
}
.img-fluid{
    width: 50%;
}
.title{
    font-size: 50px;
    color: white;
}
.text{
    font-size: 18px;
    color: white;
}
.section-padding{
    padding: 20px;
}
.py-2{
    padding: 10px;
}
.btn-1{
    padding: 10px;
    width: 35%;
    height: 45px;
    background: blueviolet;
    color: white;
    border:2px solid white;
    text-transform: uppercase;
    font-size: 16px;

    &:hover{
    background: purple;
    }

}
.btn-2{
    padding: 10px;
    width: 50%;
    height: 45px;
   border: 2px solid blueviolet;
    color: blueviolet;
    text-transform: uppercase;
    background: black;
    font-size: 16px;

  &:hover{
      background: purple;
  }
}
.radius-4x{
    border-radius: 30px;
}
.my-2{
    margin:5px;
}
.card{
    width: 65%;
    object-fit: cover;
    height: 350px;
}
.text-p{
  font-size: 40px;
 font-weight: bold;
    color: black;
}
.form{
    width: 100%;
    height: 450px;
    background-color: #E1E1E1;
    border:1px solid black;
}
.form-2{

    padding: 10px;
    width:100%;
    height: 380px;
    background-color: white;
    border:2px solid black;

}
.text-form{
    font-size: 30px;
    font-weight: normal;
}
.text-md{
    font-size:20px;
    font-weight: normal;
}
.text-dr{
    width: 60%;
}
.img-dr{
    width: 30%;
}
.text-sm{
    font-size: 20px;
    font-weight:bold;
    font-family: italic;

}
.text-r{
   text-align: center;
    padding: 20px 0;
    font-size: 70px;
    font-weight: bold;
}
.text-s{
    font-size: 18px;
    margin: 30px ;
    font-weight: normal;

}
.btn-3{
  margin: 5px 50px ;
    width: 50%;
    height: 45px;
    color: white;
    text-transform: uppercase;
    background:orange;
    font-size: 15px;
    border:none;

    &:hover{
        background:coral;
    }
}
.card-img{
    width: 10%;
}
.my-5{
    margin:20px 0;
}
.count{
    width: 30%;
    border: 2px solid black;
    height: 400px;
}

.small-1{
    font-size: 16px;
    font-weight:normal;
}
.small-2{
    font-size: 30px;
}
.btn-4{
    margin: 5px 0 ;
    width: 100%;
    height: 50px;
    background: white;
    color: black;
    text-transform: uppercase;
    font-size: 16px;
&:hover{
    background: white;
    border: 2px solid blueviolet;
    color: blueviolet;
}
}
.bck-color{
    background: blueviolet;
    color: white;
}
.text-lg{
    font-size: 45px;
}
.img-lg{
    width: 50%;
    height: 400px;
    object-fit: cover;
}
.text-input{
    width: 80%;
    height: 45px;
    background: black;
    color: white;
padding: 10px;
    border-bottom:2px solid  white;
}
.btn-5{
    width: 80%;
    height: 45px;
    text-transform: uppercase;
    background:mediumslateblue;
    &:hover{
        background: blueviolet;
    }
}
.res{
    width: 47%;
    border: 2px solid black;
    height: 300px;
}
.img-2{
    background: blueviolet;
    object-fit: contain;
    border-radius: 50px;
    width: 20%;
}
.img-3{

        background: yellow;
        object-fit: contain;
        border-radius: 50px;
        width: 20%;
    }
.img-4{
    background: orange;
    object-fit: contain;
    border-radius: 50px;
    width: 20%;
}
.img-5{
    background: #7CC5C1;
    object-fit: contain;
    border-radius: 50px;
    width: 20%;
}
.py-4{
    padding: 0 40px ;
}


.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(9, 1fr);
    gap: 8px;
}

.div1 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    height: 250px;
    background-color: blueviolet;
}

.div2 {
    grid-column: span 2 / span 2;
    grid-row: span 6 / span 6;
    grid-column-start: 1;
    grid-row-start: 4;
    height: 200px;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 6 / span 6;
    grid-column-start: 3;
    grid-row-start: 1;
    height: 200px;

}

.div4 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 7;
    height: 250px;
    background-color: orange;
    color: white;
}

.div5 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 5;
    grid-row-start: 1;
    height: 250px;
    background-color: black;
    color: white;
}

.div6 {
    grid-column: span 2 / span 2;
    grid-row: span 6 / span 6;
    grid-column-start: 5;
    grid-row-start: 4;
    height: 450px;
}
.img-med{
    width: 100%;
    height:500px;
    border-radius: 20px;
    object-fit: cover;
}




.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}


.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    width: 100%;
    text-align: center;
}

.number-text {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}


.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.color-m{
    background-color: #F2EDFB;
}
.text-center{
    text-align: center;
}
.type-input {
    width: 50%;
    height: 50px;
    color: white;
    padding: 0 50px;
    margin: 0 10px;
}
.margin{
    margin:auto;
}
.btn-6{
    width: 50%;
    height: 45px;
    text-transform: uppercase;
    background:mediumslateblue;
    &:hover {
        background: blueviolet;
    }
}
.text-ul{
    font-size: 20px;
    color: white;
}
.slide-image{
    width: 40%;
    object-fit: contain;
    display: block;
}